.container{
    /*height: 450px;
    width: 93%;*/
}
#form{
    border:0;    
}
.questionButton{   
    background-color: #638ca8;
    width: 37px;
    height: 32px; 
    border-radius: 15px;   
}
#inputDate{
    width: 150px;
}
.input{
    border: 1px solid #0ABFE5;
    border-radius: 18px;
}
#date{
    
}
#button{
    margin-top: 20px;
    color: #ffffff;
    background-color: #FC571F; 
    border:0;
    border-radius: 15px;
}
.switch{
    height: 20px;
}