.container{
    height: 60vh;
    /*display: flex;
    flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

#form{
    border:0;    
}
.questionButton{   
    background-color: #638ca865;
    width: 25px;
    height: 25px;
    font-size: 1em;
    border-radius: 15px;
    text-align: center;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:auto;
}


#inputDate{
    width: 150px;
}
.input{
    border: 1px solid #0ABFE5;
    border-radius: 20px;
    margin: auto;
}
#date{
    
}

.switch{
    height: 20px;
    margin-top: 30px;
}