.item{
  width: 24vw;
  height: 24vw;
  border-radius: 24vw;
  background-color: rgb(175, 175, 175);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 4%;
}

.item p{
  font-size: 12px;
  padding: 0;
  color: white;
  margin-top: 12px;
}

.item:hover{
  background-color: #003045;
}
